.#{
    background-color: rgb(77, 173, 104);
}
.homepage-container{
    background-image: url(C:/Users/sekha/portfolio/public/Assets/homepage.jpg);
    justify-content: center;
    text-align: center;
    height: 90vh;
    align-content: center;
    
}
.web-developer{
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
    color: rgb(6, 6, 6);
    font-size: 55px; 
}

.btn{
    padding: 12px 28px;
    background-color: rgba(169, 234, 239, 0.279);
    margin: 10px;
    border-radius: 9%;
    color: rgb(247, 15, 15);
    font-size: 16px;
}

.btn1{
    padding: 12px 28px;
    background-color: rgba(169, 234, 239, 0.279);
    border-radius: 9%;
    font-size: 16px;
    margin: 10px;
    color: rgb(245, 10, 10);
    

}
.content{
    text-align: center;
    font-size: 30px;
}
.homepage-container{
    opacity: 1 !important;
}

